/* Error: expected "{".
 *     ,
 * 367 |                 margin-right 280px;
 *     |                                   ^
 *     '
 *   static\assets\scss\_sidebar.scss 367:35     @import
 *   static\assets\scss\style-yellow.scss 117:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 367 \2502                  margin-right 280px;\d\a     \2502                                    ^\a     \2575 \a   static\\assets\\scss\\_sidebar.scss 367:35     @import\a   static\\assets\\scss\\style-yellow.scss 117:9  root stylesheet';
}
